cache/
out/

# Ignore Environment Variables!
.env
.env.prod

.cmt.txt
.deploy.txt

# Ignore all vscode settings
.vscode/

# Ignore flattened files
flattened.txt

broadcast

# Ignore local misc files
.DS_Store
*.pem
